html {
    background: pink;
}


/*Special elements (start)--------------------------------*/
.logo-small {
    display: block;
    background-image: url(../images/LogoFake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 4vh;
}

<<<<<<< HEAD
=======
.countries {
    background-color: #fff;
    width: 30vw;
    float: left;
    margin-left: 2vw;
}

.news {
    float: right;
    background-color: #fff;
    width: 30vw;
    margin-right: 2vw;
}

>>>>>>> e67b45ade84be1dd88d421f7736e2c37e8efe8cf
.logo-medium {
    display: block;
    background-image: url(../images/LogoFake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 8vh;
<<<<<<< HEAD
=======
    margin-top: 5px;
>>>>>>> e67b45ade84be1dd88d421f7736e2c37e8efe8cf
}

.logo-large {
    display: block;
    background-image: url(../images/LogoFake.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 12vh;
}

.header {
    width: 100%;
<<<<<<< HEAD
    height: 9vh;
=======
    height: 10vh;
>>>>>>> e67b45ade84be1dd88d421f7736e2c37e8efe8cf
    background: white;
}
/*Special elements (start)--------------------------------*/

/*Junk spaces (start)-----------------------------------*/
.blank-space-1 {
    width: auto;
    height: 30vh;
}

.blank-space-2 {
    width: auto;
    height: 40vh;
}
<<<<<<< HEAD
=======

.blank-space-3 {
    width: auto;
    height: 5vh;
}
>>>>>>> e67b45ade84be1dd88d421f7736e2c37e8efe8cf
/*Junk section (end)-----------------------------------*/


.center {
    text-align: center;
    margin: auto;
}

.input-field {
    background: white;
    color: red;
    border-radius: 3px;
    border: black;
}