html {
    background: white;
}


/*Special elements (start)--------------------------------*/
.logo-small {
    display: block;
    background-image: url(../images/cultured-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 4vh;
}
/*--countries--------------------*/
.countries {
    background-color: #fff;
    width: 30vw;
    float: left;
    margin-left: 2vw;
}

.api-div {
    float: right;
    background-color: #fff;
    border-radius: .5vw;
    width: 30vw;
    margin-right: 2vw;
}

.logo-small {
    display: block;
    background-image: url(../cultured-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 100%;
    height: 8vh;
    margin-top: 5px;
}

.logo-medium {
    display: block;
    background-image: url(../images/Cultured-text.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 100%;
    height: 8vh;
    margin-top: 5px;
}

.logo-large {
    display: block;
    background-image: url(../images/cultured-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
}

.header {
    background-image: url("../images/Cultured-header.svg");
    /*background: url(../images/cultured-header.svg) 100% 100% no-repeat;*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10vh;
    padding-bottom: 10vh;
    z-index: 999;
}
/*Special elements (start)--------------------------------*/

/*Junk spaces (start)-----------------------------------*/
.blank-space-1 {
    width: auto;
    height: 30vh;
}

.blank-space-2 {
    width: auto;
    height: 40vh;
}

.blank-space-3 {
    width: auto;
    height: 5vh;
}

.blank-space-4 {
    width: auto;
    height: 15vh;
}
/*Junk section (end)-----------------------------------*/


.center {
    text-align: center;
    margin: auto;
}

.input-field {
    background: white;
    color: red;
    border-radius: 3px;
    border: black;
}